@using Microsoft.AspNetCore.Identity
@using TTAServer

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h2>Manage your account</h2>

@if (SignInManager.IsSignedIn(User))
{
    <p>Name: @User.Identity.Name </p>

    <p>Role: @User.FindFirst(claim => claim.Type == System.Security.Claims.ClaimTypes.Role)?.Value</p>

    <form method="post" asp-action="Logout">
        <button type="submit">Logout</button>
    </form>
}