@using System.Security.Claims

@*@model int*@

@*@{
    var dateOfBirth = User.FindFirst(c => c.Type == ClaimTypes.DateOfBirth)?.Value;
}*@

<!-- Welcome user and display DateOfBirth claim value -->
<h1>Welcome @User.Identity.Name</h1>

<h2>You are AUTHORIZED to access this page.</h2>

@*<p>
    You can access this page since you were born on @dateOfBirth.
</p>*@

@*<ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    @*<li>@Html.ActionLink("Sign Out", "Logout", "Home")</li>
</ul>*@

<p>
    <a asp-action="Index">Home</a>

</p>

<form method="post" asp-action="Logout">
    <button type="submit">Logout</button>
</form>